<a href="https://colab.research.google.com/github/sivastark18/8.12/blob/main/example1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("welcome")

welcome

In [ ]:
print ("basic problems in python ")
print ("addition of two int")

num1 = 15
num2 = 12


sum = num1 + num2


print("Sum of", num1, "and", num2 , "is", sum)

basic problems in python
addition of two int
Sum of 15 and 12 is 27

In [ ]:
print ("Maximum of two numbers in Python")
def maximum(a, b):

    if a >= b:
        return a
    else:
        return b

a = 2
b = 4
print(maximum(a, b))

Maximum of two numbers in Python
4

In [ ]:
print("Python Program for factorial of a number")
def factorial(n):


	return 1 if (n==1 or n==0) else n * factorial(n - 1)

num = 5
print("Factorial of",num,"is",factorial(num))

Python Program for factorial of a number
Factorial of 5 is 120

In [ ]:
print("Python Program for simple interest")


def simple_interest(p,t,r):
	print('The principal is', p)
	print('The time period is', t)
	print('The rate of interest is',r)

	si = (p * t * r)/100

	print('The Simple Interest is', si)
	return si


simple_interest(8, 6, 8)

Python Program for simple interest
The principal is 8
The time period is 6
The rate of interest is 8
The Simple Interest is 3.84

3.84

In [ ]:
print("Python Program for n-th Fibonacci number")


def Fibonacci(n):
	if n<= 0:
		print("Incorrect input")

	elif n == 1:
		return 0

	elif n == 2:
		return 1
	else:
		return Fibonacci(n-1)+Fibonacci(n-2)


print(Fibonacci(10))

Python Program for n-th Fibonacci number
34

In [ ]:
def student(name,roll,mark):

print(name,roll,mark)

student(90,102,"bala")

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-1-d4b54b10b3f5>, line 3)

In [ ]:


def add(a,b):
  c=a+b
  return c

def mul(c,d):
  e=c*d
  return e

c=add(10,20)

e=mul(c,30)

print(e)

900

In [ ]:
def sum(a,b):
  sum=a+b
  return sum

def avg(sum):
  avg=sum/2
  return avg

a=eval(input("enter a:"))


sum=sum(a,b)

avg=avg(sum)

print("the avgb=eval(input("enter b:"))
 is",avg)

enter a:11
enter b:7
the avg is 9.0

In [ ]:
def fact(n):
  if(n==1):
    return 1
  else:
      return n*fact(n-1)
n=eval(input("enter no. to find fact:"))
fact=fact(n)
print("Fact is",fact)

enter no. to find fact:5
Fact is 120

In [ ]:
def sum(n):
  if(n==1):
    return 1
  else:
    return n*sum(n-1)

n=eval(input("enter no. to find sum:"))

sum=sum(n)

print("Fact is",sum)

enter no. to find sum:18
Fact is 6402373705728000

In [ ]:
def factorial(n):

    res = 1

    for i in range(2, n+1):
        res *= i
    return res
 # Driver Code
num = 5
print("Factorial of", num, "is",
factorial(num))

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [2]:
a=30
b=10
if a > b: print("a is greater than b")
print("short hand if")

a is greater than b
short hand if

In [3]:
a = 2
b = 330
print("A") if a > b else print("B")
print("one line ifelse  statement")

B
one line ifelse  statement

In [6]:
x = 41
if x > 10:
  print("Above ten")
  if x > 20:
    print("and also above 20!")
else:
    print("but not above 20.")

Above ten
and also above 20!

In [9]:
print("palindrome number checker")
string=input(("Enter a string:"))
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

palindrome number checker
Enter a string:racecar
The string is a palindrome

In [12]:
num = int(input("Enter a number: "))

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")

# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

Enter a number: 2
2 is a prime number

In [14]:
# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [16]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 18
18 is not an Armstrong number

In [18]:
# Python3 Program to
# find sum of square
# of first n natural
# numbers
def squaresum(n):
	sm = 0
	for i in range(1, n+1):
		sm = sm + (i * i)

	return sm


# Driven Program
n = 4
print(squaresum(n))

30

In [21]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 18
Enter second number: 7
18.0 - 7.0 = 11.0
Let's do next calculation? (yes/no): yes
Enter choice(1/2/3/4): 4
Enter first number: 18
Enter second number: 7
18.0 / 7.0 = 2.5714285714285716
Let's do next calculation? (yes/no): no

In [22]:
# Function to demonstrate printing pattern
def pypart(n):
	myList = []
	for i in range(1,n+1):
		myList.append("*"*i)
	print("\n".join(myList))

# Driver Code
n = 5
pypart(n)

*
**
***
****
*****